[data-css-mode="true"] {

  /* 头部个人信息 */
  #root>div>div>[class~="px-[40px]"] {
    padding: 0 40px !important;

    >.ant-row.ant-row-space-between.ant-row-middle.mt-5.text-sm.css-5tmopf {
      border-radius: 12px;
      padding: 10px 20px !important;
      margin: 20px auto;
      max-width: 1440px;

      .ant-col:nth-of-type(1)>.ant-space>.ant-space-item {

        &:nth-of-type(1),
        &:nth-of-type(3) {
          padding: 2px 14px;
          border-radius: 999px;
        }
      }
    }

    .ant-divider {
      margin: 0;
      border: 0;
    }
  }


  /* 论坛-详情标题 */
  .flex.justify-between.py-5.items-center.sticky.top-0.bg-mt-primary-1 {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  /* 论坛-帖子详情操作栏 */
  .ant-row.ant-row-space-between.sticky.top-\[65px\].bg-white.z-\[1\] {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02) !important;
    padding: 8px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;
  }


  /* 种子详情页标题 */
  .flex.py-5.mb-5.border-0.border-b.border-solid.border-\[\#E8E1D7\].sticky.top-0.z-\[999\].bg-mt-primary-1 {
    padding: 12px;
    border-radius: 6px;
  }

  /* 表格 */
  .mx-auto.w-full {
    padding: 18px;
    border-radius: 12px;
  }

  /* 论坛搜索框 */
  .ant-input-affix-wrapper.ant-input-outlined>input {
    padding: 0 12px;
  }
}