[data-theme="ocean"],
[data-theme="pink"],
[data-theme="dark"] {


  /* 促销 */
  .bg-\[\#F4EFE7\].ant-flex.ant-flex-justify-center {
    margin-top: 15px;
    background-color: initial;

    >div>div {
      width: auto;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  /* 表格 */
  .mx-auto.w-full {
    background-color: #ffffffbb;
    padding: 18px;
    border-radius: 12px;
  }

  /* 头部个人信息 */
  #root>div>div>[class~="px-[40px]"] {
    >.ant-row.ant-row-space-between.ant-row-middle.mt-5.text-sm {
      border-radius: 12px;
      padding: 10px 20px !important;
      margin: 20px auto;
      max-width: 1440px;


      .ant-col:nth-of-type(1)>.ant-space>.ant-space-item {

        &:nth-of-type(1),
        &:nth-of-type(3) {
          padding: 2px 14px;
          border-radius: 999px;
        }
      }
    }

    .ant-divider {
      margin: 0;
      border: 0;
    }
  }
}

[data-theme="ocean"],
[data-theme="pink"] {
  body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: var(--bg-image-size);
    background-repeat: var(--bg-image-repeat);
    background-position: var(--bg-image-position);
  }

  #root>div>div>*:nth-of-type(1) {
    background-color: #ffffffbb;
    box-shadow: var(--head-bg-shadow) !important;
  }


  /* 促销 */
  .bg-\[\#F4EFE7\].ant-flex.ant-flex-justify-center {
    >div>div {
      background-color: #F4EFE7;
    }
  }

  /* 详情页标题背景 */
  .app-content__inner section {
    >.mr-5 {
      border-radius: 6px;
      overflow: hidden;
    }

    >.flex-grow.w-2.flex.flex-col {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      padding: 8px 12px;
    }
  }

  /* #root>div>div>*:nth-of-type(2) {
    background-color: inherit;

    >div>div>div>div>div>div>div {
      background-color: var(--promotion-bg);

      a {
        color: var(--primary-color) !important;

        span svg path {
          fill: var(--primary-color) !important;
        }
      }
    }
  } */

  /* 头部个人信息 */
  #root>div>div>[class~="px-[40px]"] {

    >.ant-row.ant-row-space-between.ant-row-middle.mt-5.text-sm {
      background-color: #ffffffbb;

      .ant-col:nth-of-type(1)>.ant-space>.ant-space-item {

        &:nth-of-type(1),
        &:nth-of-type(3) {
          background-color: var(--primary-color-100);
        }

        &:nth-of-type(5) .ant-typography,
        &:nth-of-type(6) .ant-typography {
          color: #16a34a
        }

        &:nth-of-type(7) .ant-typography {
          color: #2563eb
        }
      }
    }
  }

  /* 表格 */
  .mx-auto.w-full {
    background-color: #ffffffbb;
  }

  .ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
  .ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: var(--primary-color-300) !important;
  }

  /* 论坛-详情标题 */
  .flex.justify-between.py-5.items-center.sticky.top-0.bg-mt-primary-1 {
    background-color: #cadbeb;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  /* 论坛-帖子详情操作栏 */
  .ant-row.ant-row-space-between.sticky.top-\[65px\].bg-white.z-\[1\] {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02) !important;
    padding: 8px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -12px;
  }

  /* 种子详情页标题 */
  .flex.py-5.mb-5.border-0.border-b.border-solid.border-\[\#E8E1D7\].sticky.top-0.z-\[999\].bg-mt-primary-1 {
    border-color: var(--divider-color);
    padding: 12px;
    border-radius: 6px;
  }

  .pb-\[20px\].mb-\[20px\].border-0.border-b.border-solid.border-\[\#E8E1D7\] {
    border-color: var(--divider-color);
  }

  a.text-\[\#F6CA60\].font-semibold.hover\:text-\[\#F6CA60\] {
    color: var(--primary-color) !important;

    &:hover {
      color: var(--primary-color-300) !important;
    }
  }

  /* 翻页 */
  .ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
    border-color: var(--primary-color-100);

    a {
      color: var(--primary-color-200) !important;
    }
  }

  .ant-menu-light .ant-menu-item-selected a,
  .ant-menu-light>.ant-menu .ant-menu-item-selected a,
  .ant-menu-light .ant-menu-item-selected a:hover,
  .ant-menu-light>.ant-menu .ant-menu-item-selected a:hover {
    color: var(--primary-color-200) !important;
  }

  .ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
  .ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
  .ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
  .ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-color: var(--primary-color-200);
    bottom: 2px;
  }

  /* 富文本编辑器 */
  .editor-container {
    border-color: var(--divider-color);
  }


  /* 分割线 */
  .ant-divider {
    border-color: var(--divider-color);
  }

  .ant-table-cell {
    border-bottom-color: var(--divider-color) !important;
  }

  /* 卡片 */
  .ant-card .ant-card-head {
    border-bottom-color: var(--divider-color);
  }

  /* menu */
  .ant-menu-light.ant-menu-horizontal {
    >.ant-menu-submenu:hover::after {
      border-bottom-color: var(--bg-color);
    }

    >.ant-menu-item:hover::after {
      border-bottom-color: var(--bg-color);
    }

    >.ant-menu-submenu-open::after {
      border-bottom-color: var(--bg-color);
    }
  }

  .ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
  .ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected,
  .ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected,
  .ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected {
    color: var(--primary-color) !important;
  }

  /* 下拉选择 */
  .ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: var(--primary-color) !important;
  }

  a {
    &:hover {
      color: var(--primary-color) !important;
    }
  }


  body[data-theme=sakura] .ant-table-placeholder:hover,
  body[data-theme=sakura] .ant-table-placeholder td:hover {
    background: rgba(0, 0, 0, 0.01) !important;
  }
}

[data-theme="dark"] {
  color-scheme: dark;

  svg path {
    fill: rgba(255, 255, 255, 0.85) !important;
  }

  input {
    background-color: #1D1D1D !important;
    color: rgba(255, 255, 255, 0.85) !important;
    border-color: #303030 !important;

    &:hover,
    &:focus {
      background-color: initial;
    }

    &::placeholder {
      color: #4F4F4F !important;
    }
  }

  body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: var(--bg-image-size);
    background-repeat: var(--bg-image-repeat);
    background-position: var(--bg-image-position);
    color: #ffffffd9;
  }

  #root>div>div>*:nth-of-type(1) {
    background-color: var(--menu-bg);


    .ant-select.ant-select-borderless.lang-selector.ant-select-single.ant-select-show-arrow {
      svg path {
        stroke: rgba(255, 255, 255, 0.85) !important;
        fill: none !important;
      }
    }

    /* 搜索 */
    .ant-input-affix-wrapper.ant-input-borderless.bg-\[\#8A8A8A\]\/10.rounded-\[1\.143em\].align-middle.py-\[1px\] {
      .ant-input-prefix .ant-select-selector {
        border: 0;
      }
    }

    /* 语言切换 */
    .ant-select.ant-select-borderless.lang-selector.ant-select-single.ant-select-show-arrow {
      .ant-select-selector {
        background-color: #1D1D1D;
        border: 0;
      }
    }
  }

  /* 促销 */
  .bg-\[\#F4EFE7\].ant-flex.ant-flex-justify-center {
    >div>div {
      background-color: #587993;
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-switch {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.85);

    &.ant-switch-checked {
      background-color: #ebbc50;
    }
  }

  .ant-tree {
    .ant-tree-list {
      color: rgba(255, 255, 255, 0.85);

    }
  }

  .ant-radio-group {
    color: rgba(255, 255, 255, 0.85);

    .ant-radio-button-checked {
      color: #fff;
      background-color: #EDAB0C;
      /* border-color: #f6ca60; */
    }

    .ant-radio-button-wrapper:first-child {
      border-inline-start-color: #424242;
      border-color: #424242;
      border-start-start-radius: 6px;
      border-end-start-radius: 6px;
    }

    .ant-radio-button-wrapper {
      color: rgba(255, 255, 255, 0.85);
      border-color: #424242;
      background-color: #141414;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border-color: #EDAB0C;
      background-color: #EDAB0C;
    }

    .ant-radio-wrapper {
      color: rgba(255, 255, 255, 0.85);

      .ant-radio-inner {
        border-color: #424242;
        background-color: #141414;
      }

      &.ant-radio-wrapper-checked {
        .ant-radio-inner {
          border-color: #EDAB0C;
          background-color: #EDAB0C;
        }
      }
    }
  }

  .ant-slider {
    color: rgba(255, 255, 255, 0.85);

    .ant-slider-rail {
      background-color: rgba(255, 255, 255, 0.08);
    }

    .ant-slider-track {
      background-color: #EDAB0C;
    }

    .ant-slider-handle {
      /* &::before {
        background-color: transparent;
      } */

      &::after {
        background-color: #1f1f1f;
        box-shadow: 0 0 0 2px #EDAB0C;
      }
    }
  }

  .ant-checkbox-wrapper {
    color: rgba(255, 255, 255, 0.85);

    .ant-checkbox .ant-checkbox-inner {
      background-color: #141414;
      border-color: #424242;

    }
  }

  .ant-checkbox-group {
    color: rgba(255, 255, 255, 0.85);

    .ant-checkbox-wrapper {
      color: rgba(255, 255, 255, 0.85);

      .ant-checkbox {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  /* 主题下拉 */
  .ant-dropdown {
    background-color: #1F1F1F !important;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .ant-dropdown-menu-item-selected {
      background-color: #313131;
      color: #ebbc50;

      &:hover {
        background-color: #313131 !important;
      }
    }
  }

  /* 头部个人信息 */
  #root>div>div>[class~="px-[40px]"] {
    >.ant-row.ant-row-space-between.ant-row-middle.mt-5.text-sm {
      background-color: #1D1D1D;

      a {
        color: #ebbc50;
      }


      .ant-col:nth-of-type(1)>.ant-space>.ant-space-item {

        .ant-typography {
          color: rgba(255, 255, 255, 0.85);
        }

        &:nth-of-type(1),
        &:nth-of-type(3) {
          background-color: #262626;

          .ant-typography {
            &.ant-typography-ellipsis {
              color: #ffffffd9 !important;
            }

            &:nth-of-type(2).cursor-pointer:hover {
              color: #F6CA60;
            }

            &.font-bold {
              color: rgba(255, 255, 255, 0.85);
            }
          }
        }

        &:nth-of-type(5) .ant-typography,
        &:nth-of-type(6) .ant-typography {
          color: #16a34a
        }

        &:nth-of-type(7) .ant-typography {
          color: #2563eb
        }
      }
    }

    .ant-divider {
      margin: 0;
      border: 0;
    }
  }

  /* 讯息列表按钮 */
  .ant-space.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small {
    .ant-space-item:last-child .ant-select {
      margin-left: 8px;
    }
  }

  /* 表格padding */
  .mx-auto.w-full {
    background-color: #1D1D1D;
  }

  /* card */
  .ant-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    color: rgba(255, 255, 255, 0.85);

    background-color: #1D1D1D;

    .ant-card-head {
      background-color: #1D1D1D;
      color: rgba(255, 255, 255, 0.85);
      border-color: #303030;

      button:disabled {
        color: rgba(255, 255, 255, 0.25)
      }
    }

    .ant-collapse-header-text,
    .ant-collapse-extra {
      color: #fff;
    }

    .whitespace-pre-wrap {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-single-line {
    color: rgb(218, 165, 32) !important;

    &:hover {
      color: #F6CA60 !important;
    }
  }

  /* 按钮 */
  .ant-btn {
    &.ant-btn-color-primary {
      border-color: #edab0c;
      background-color: #edab0c;
      color: rgba(255, 255, 255, 0.85);

      &:hover {
        color: rgba(255, 255, 255, 0.85) !important;
        background-color: #eabf5b !important;
      }

      &.ant-btn-variant-text {
        background-color: initial;
      }
    }

    &.ant-btn-color-default {
      border-color: #424242;
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.04);


      &:disabled {
        border-color: #424242 !important;
        color: rgba(255, 255, 255, 0.25) !important;
        background-color: rgba(255, 255, 255, 0.08) !important;
      }

      &:hover {
        border-color: #edab0c;
        color: #edab0c !important;
      }
    }

    &.ant-btn-variant-outlined,
    .ant-btn-variant-dashed {
      background-color: #141414 !important;
    }

    &.ant-btn-color-default {
      color: rgba(255, 255, 255, 0.85) !important;
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.04) !important;
    }

    &.ant-btn-variant-solid:disabled,
    &.ant-btn-variant-solid.ant-btn-disabled {
      border-color: #424242 !important;
      color: rgba(255, 255, 255, 0.25) !important;
      background-color: rgba(255, 255, 255, 0.08) !important;
    }

    &.ant-btn-variant-outlined:disabled,
    &.ant-btn-variant-dashed:disabled,
    &.ant-btn-variant-outlined.ant-btn-disabled,
    &.ant-btn-variant-dashed.ant-btn-disabled {
      border-color: #424242 !important;
      color: rgba(255, 255, 255, 0.25) !important;
      background-color: rgba(255, 255, 255, 0.08) !important;
    }
  }

  /* 表格 */
  .ant-table {
    color: rgba(255, 255, 255, 0.85);

    .ant-table-thead {
      .ant-table-cell {
        color: rgba(255, 255, 255, 0.85);
        background-color: #1d1d1d;
      }
    }

    td a {
      color: rgba(255, 255, 255, 0.85);
    }

    .ant-table-cell {
      border-bottom-color: var(--divider-color) !important;
    }

    .ant-table-row-selected {
      .ant-table-cell {
        background: #7c5914 !important;
      }

      .ant-table-cell-row-hover {
        background: #aa7714 !important;
      }
    }

    .ant-table-cell-row-hover {
      background: #262626 !important;
    }
  }

  /* input */
  .ant-input {
    color: rgba(255, 255, 255, 0.85);

    &.ant-input-outlined {
      background-color: #141414;
      border-color: #424242;
    }

  }


  .ant-input-affix-wrapper {
    color: rgba(255, 255, 255, 0.85);

    &.ant-input-outlined {
      background-color: #141414;
      border-color: #424242;

      &:focus {
        box-shadow: none;
      }

      .ant-select {
        &::before {
          background-color: var(--divider-color);
        }

        .ant-select-selector {
          background-color: inherit;
          border-color: transparent;
          color: rgba(255, 255, 255, 0.85);
        }

        &.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
          background-color: #141414;
        }

      }
    }

    input {
      background-color: #141414 !important;
    }
  }

  .ant-input-group-wrapper {
    .ant-input-group {
      color: rgba(255, 255, 255, 0.85);
    }

    .ant-input-group-addon {
      color: rgba(255, 255, 255, 0.85);
      border-color: #303030;

    }
  }

  .ant-form-item-additional {
    color: rgba(255, 255, 255, 0.85);

    .ant-form-item-explain {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-input-affix-wrapper {
    color: rgba(255, 255, 255, 0.85);
    background-color: #141414;

    .ant-input-prefix {
      .ant-select {
        &.ant-select-single.ant-select-open .ant-select-selection-item {
          color: rgba(255, 255, 255, 0.25) !important;
        }

        .ant-select-selector {
          color: rgba(255, 255, 255, 0.85);
          background-color: inherit;

          .ant-select-selection-wrap {
            color: rgba(255, 255, 255, 0.85);
          }
        }

        &.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
          background-color: #141414;
        }
      }
    }

    input {
      background-color: #141414 !important;
    }

    .ant-input-suffix {
      .ant-input-data-count {
        color: rgba(255, 255, 255, 0.85);

      }

      cursor: pointer;

      &:hover {
        svg path {
          fill: #edab0c !important;
        }
      }
    }
  }


  /* collapse */
  .ant-collapse {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid #424242;

    .ant-collapse-item {
      border-bottom: 1px solid #424242;

      .ant-collapse-header {
        padding: 12px 16px !important;
      }

      .ant-collapse-content {
        color: rgba(255, 255, 255, 0.85);
        background-color: #141414;
        border-top: 1px solid #424242;

        .ant-collapse-content-box {
          padding: 16px !important;
        }

        hr {
          background-color: #424242;
          height: 1px;
        }
      }
    }
  }

  /* ant-descriptions */
  .ant-descriptions {
    table {
      .ant-descriptions-item {
        border-inline: 1px solid #424242;
        border-spacing: 1px;
      }
    }

    .ant-descriptions-row {
      .ant-descriptions-item-label {
        color: rgba(255, 255, 255, 0.45) !important;
      }

      .ant-descriptions-item-content {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  .ant-select {
    color: rgba(255, 255, 255, 0.85);

    .ant-select-selector {
      color: rgba(255, 255, 255, 0.85);
      border-color: #424242;
      background-color: #141414;

      input {
        background-color: initial !important;
      }

      .ant-select-selection-placeholder {
        color: rgba(255, 255, 255, 0.25);
      }
    }
  }


  /* 资源列表 */
  table {

    th,
    td {
      border-color: var(--divider-color);
    }
  }

  .text-inherit {
    color: rgba(255, 255, 255, 0.85);
  }

  .block.text-black.font-bold.text-\[16px\].mb-\[1em\] {
    color: rgba(255, 255, 255, 0.85);
  }

  .ant-pagination {
    .ant-pagination-options {
      color: rgba(255, 255, 255, 0.85);

    }

    .ant-pagination-prev.ant-pagination-disabled,
    .ant-pagination-next.ant-pagination-disabled {
      color: rgba(255, 255, 255, 0.25);

      svg path {
        fill: rgba(255, 255, 255, 0.25) !important;
      }


      .ant-pagination-item-link {
        color: rgba(255, 255, 255, 0.25);
      }
    }

    .ant-pagination-item {
      background-color: #1D1D1D;

      &:hover {
        background-color: #313131;
      }

      a {
        color: rgba(255, 255, 255, 0.85);
      }

      &.ant-pagination-item-active {
        background-color: #141414;
      }
    }

    .ant-pagination-options-quick-jumper input:focus,
    .ant-pagination-options-quick-jumper input:focus-within {
      background-color: #1D1D1D;
    }

    .ant-pagination-item-ellipsis {
      color: rgba(255, 255, 255, 0.85) !important;
    }
  }

  /* 魔力详情 */
  .bg-white.rounded-xl.p-5.mb-5 {
    background-color: #1D1D1D;
  }

  .border-\[\#E8E1D7\] {
    border-color: var(--divider-color);
  }

  div:has(> .ant-space.ant-space-horizontal.ant-space-align-center.w-full.mb-4) {
    border-bottom-color: var(--divider-color) !important;
  }

  .ant-tag.ant-tag-checkable {

    &.cat-427,
    &.cat-442,
    &.cat-451 {
      background-color: #f6ca60;
      border-color: #424242;
      color: rgba(255, 255, 255, 0.85);

      &:not(.ant-tag-checkable-checked) {
        background-color: #141414;
        border-color: var(--border-color);
      }
    }
  }


  .ant-input-affix-wrapper .ant-input-clear-icon {
    color: rgba(255, 255, 255, 0.85);
  }

  /* 富文本编辑器 */
  .dropdown {
    background-color: #1d1d1d;
    border: 1px solid #303030;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .item {
      background-color: #1d1d1d;
      color: rgba(255, 255, 255, 0.85);

      span {
        filter: brightness(0) invert(1);
      }

      &:hover {
        background-color: #323131;
      }
    }
  }

  .ant-modal {
    .ant-modal-title {
      color: rgba(255, 255, 255, 0.85);
      background-color: #1f1f1f;
    }


    .ant-modal-content {
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
      background-color: #1f1f1f;

      .ant-modal-confirm-title,
      .ant-modal-confirm-content {
        color: rgba(255, 255, 255, 0.85);
      }

      .ant-modal-body {
        border-color: var(--border-color);
      }
    }

    .ant-modal-confirm-btns {
      .ant-btn-variant-outlined {
        /* border-color: #424242; */
        background-color: #141414;
      }

      .ant-btn-color-default {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.04);
      }

      .ant-btn-variant-solid {
        color: #fff;
        background-color: #edab0c;
      }

      .ant-btn-color-primary {
        box-shadow: 0 2px 0 rgba(23, 117, 249, 0.31);
      }
    }
  }


  .ant-notification {
    color: rgba(255, 255, 255, 0.85);

    .ant-notification-notice-wrapper {
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
      background: #1f1f1f;
    }

    .ant-notification-notice-content {

      .ant-notification-notice-message,
      .ant-notification-notice-description {
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .ant-notification-notice-close {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-tabs {
    color: rgba(255, 255, 255, 0.85);

    .ant-tabs-nav::before {
      border-bottom-color: #303030;

      .ant-tabs-nav-wrap::before,
      .ant-tabs-nav-wrap::after {
        box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
      }

    }

    .ant-tabs-tab {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-message {
    color: rgba(255, 255, 255, 0.85);

    .ant-message-notice-content {
      background-color: #1f1f1f;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

    .ant-message-notice-wrapper .ant-message-success>.anticon {
      color: #49aa19;
    }
  }


  .editor-container {
    background-color: #1d1d1d;
    border: 1px solid #303030;
    color: rgba(255, 255, 255, 0.85);

    >div {
      background-color: #1d1d1d;
      background: #1d1d1d;

      &:nth-of-type(1) {
        border-bottom-color: var(--border-color);
      }

      button {
        span {
          color: rgba(255, 255, 255, 0.85) !important;
          filter: brightness(0) invert(1);
        }

        i {
          filter: brightness(0) invert(1);
        }

        &:hover:not([disabled]) {
          background-color: #262626 !important;
        }
      }

      .divider {
        background-color: var(--border-color);
      }

      .actions button {
        background-color: #edab0c;
        color: rgba(255, 255, 255, 0.85);
      }

    }
  }

  .markdown-body {
    color: rgba(255, 255, 255, 0.85);
  }

  .pb-\[20px\].mb-\[20px\].border-0.border-b.border-solid.border-\[\#E8E1D7\] {
    border-color: var(--divider-color);
  }

  /* 论坛详情 */
  .ant-col.p-3.bg-white {
    background-color: #262626;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.45);

    >.ant-row.ant-row-space-between {
      background-color: #262626;
    }

    .markdown-body {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-typography {
    color: rgba(255, 255, 255, 0.85) !important;

    a {
      color: rgba(255, 255, 255, 0.45);
    }
  }

  .w-\[120px\].inline-block.text-black.font-bold.text-\[16px\] {
    color: rgba(255, 255, 255, 0.85);
  }

  .bg-white.rounded-xl.p-5 {
    background-color: #1D1D1D;
  }

  .ant-form-item {
    label {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .ant-float-btn-group {
    button {
      background-color: #1f1f1f;
    }
  }

  .ant-float-btn-default .ant-float-btn-body {
    background-color: #1f1f1f;

    &:hover {
      background-color: rgba(255, 255, 255, 0.12)
    }
  }

  .ant-picker {
    background-color: #1D1D1D;
    border-color: #424242;
    color: #424242;

  }

  .ant-picker-dropdown {
    .ant-picker-range-arrow::before {
      background: #1f1f1f;
    }

    .ant-picker-panel-container {
      background-color: #1f1f1f;
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

      .ant-picker-header {
        color: rgba(255, 255, 255, 0.85);
        border-bottom: 1px solid rgba(253, 253, 253, 0.12);

        button {
          color: rgba(255, 255, 255, 0.45)
        }

        .ant-picker-header-view>button {
          color: inherit;
        }
      }

      .ant-picker-cell {
        color: rgba(255, 255, 255, 0.25);

      }

      .ant-picker-cell-in-view {
        color: rgba(255, 255, 255, 0.85);

      }

      .ant-picker-content th,
      .ant-picker-content th {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  .ant-form.ant-form-horizontal {
    color: rgba(255, 255, 255, 0.85);
  }

  .ant-input-number {
    border-color: #424242;
    background-color: transparent;

    .ant-input-number-handler-wrap {
      background-color: transparent;
    }

    .ant-input-number-handler {
      border-inline-start: 1px solid #424242;

      &.ant-input-number-handler-down {
        border-block-start: 1px solid #424242;
      }
    }
  }

  .ant-input-number-group-wrapper-outlined .ant-input-number-group-addon {
    border-color: #424242;
    color: rgba(255, 255, 255, 0.85);
  }


  .ant-btn-color-link.ant-btn-variant-link:disabled,
  .ant-btn-color-link.ant-btn-variant-link.ant-btn-disabled {
    color: rgba(255, 255, 255, 0.25);
  }

  .ant-progress {
    .ant-progress-inner {
      background-color: rgba(255, 255, 255, 0.12);

    }

    .ant-progress-text {
      color: rgba(255, 255, 255, 0.85);
    }


  }

  /* 箭头 */
  span.anticon.w-4.h-4.menu-arrow {
    color: #ffffffd9;
  }


  /* menu */
  .ant-menu {
    &.ant-menu-sub.ant-menu-vertical {
      background-color: #1F1F1F;
    }

    .menuitem {}
  }

  .ant-menu-light .ant-menu-item,
  .ant-menu-light>.ant-menu .ant-menu-item,
  .ant-menu-light .ant-menu-submenu-title,
  .ant-menu-light>.ant-menu .ant-menu-submenu-title {
    color: rgba(255, 255, 255, 0.85);
  }

  .ant-menu-light .ant-menu-item-selected,
  .ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #f6ca60;
  }

  .ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
  .ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: #f6ca60;

    a {
      color: #f6ca60;
    }
  }


  .ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
  .ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover,
  .ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover,
  .ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected)>.ant-menu-submenu-title:hover {
    color: #f6ca60;
  }

  .ant-list-item-meta-description {
    color: rgba(255, 255, 255, 0.85) !important;
  }

  .ant-list-empty-text {
    color: rgba(255, 255, 255, 0.45)
  }

  .ant-upload-wrapper {
    color: rgba(255, 255, 255, 0.85);

    .ant-upload {
      background-color: #1D1D1D;
      border-color: rgba(255, 255, 255, 0.04);

      .ant-upload-text {
        color: rgba(255, 255, 255, 0.85);

      }
    }
  }

  .editor-code {
    background-color: #262626;

    &::after {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  /* 下拉 */
  .ant-select-dropdown {
    background-color: #1F1F1F;
    color: #ffffffd9;

    .ant-select-item {
      &:not(.ant-select-item-option-selected) {
        color: #ffffffd9;
      }

      &:hover {
        background-color: #313131 !important;
      }
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: #1F1F1F;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #1F1F1F;
    }
  }

  .ant-dropdown {
    background-color: #1F1F1F !important;

    .ant-dropdown-menu {
      background-color: #1F1F1F !important;
    }

    .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-selected) {
      color: #ffffffd9 !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    .ant-space-item {
      color: #ffffffd9 !important;
    }
  }

  /* 分割线 */
  .ant-divider {
    border-block-start-color: rgba(253, 253, 253, 0.12)
  }

  .ant-breadcrumb {
    color: rgba(255, 255, 255, 0.45);

    a {
      color: rgba(255, 255, 255, 0.45);
    }

    .ant-breadcrumb-separator {
      color: rgba(255, 255, 255, 0.45);
    }

    li:last-child {
      color: rgba(255, 255, 255, 0.85)
    }
  }

  .trrdd {
    border-color: var(--border-color);

    .ant-col {
      border-color: var(--border-color);
    }
  }
}